.apm_post__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.apm_post__data > :nth-child(even) {
  margin-top: 2rem;
}
.text__header_h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.apm__post__button {
  height: 6rem;
  width: 30rem;
  background-color: #4056a1;
  border: none;
  color: whitesmoke;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.4s;
}
.apm__post__button:active,
.apm__post__button:focus {
  border: none;
}

.apm__post__button:hover {
  cursor: pointer;
  width: 30rem;
  letter-spacing: 1px;
}
.post__apm__data_hibi {
  margin-top: 2rem;
}

.apm_post__data__assets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.succesful_validation__apm {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 2rem;
}
.apm_post__data__data {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #05386b; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.table_csv_list {
  padding: 50px;
}
.table_hibi_csv_borders {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.header__left_jobs_demand {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 40px;
}
