.apm_post__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.apm_post__data > :nth-child(even) {
  margin-right: 10px;
}
.text__header_h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.apm__post__button {
  height: 2.8rem;
  width: 18rem;
  background-color: #2080b4;
  border: none;
  color: #fbfcfc;
  font-size: 11px;
  font-weight: 600;
  transition: all 0.4s;
}
.apm__post__button:active,
.apm__post__button:focus {
  border: none;
}

.apm__post__button:hover {
  cursor: pointer;
  width: 18rem;
  letter-spacing: 0.2px;
}
.post__apm__data_hibi {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.post__apm__data_hibi > * {
  margin-right: 25px;
}

.post__apm__data_hibi > :first-child {
  margin-right: auto;
  margin-left: 20px;
}

.apm_post__data__assets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.succesful_validation__apm {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.apm_post__data__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #05386b; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.table_csv_list {
  padding: 50px;
}
.table_hibi_csv_borders {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.header__left_jobs_demand {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 40px;
}

.validation__message_axios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading__validations__center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 1rem;
}
.title__jobs__demand {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin-bottom: 4rem;
}
